<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Website</title>

    <link rel="icon" type="image/png" href="{% static 'frontend/favicon.ico' %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'frontend/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <script src="https://kit.fontawesome.com/6ad3ddd4bb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'frontend/css/templatemo-style.css' %}" />
    <link rel="stylesheet" href="{% static 'frontend/css/owl.css' %}" />
    <link rel="stylesheet" href="{% static 'frontend/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'frontend/css/lightbox.css' %}" />

    <script src="{% static 'frontend/main.js' %}" defer></script>

</head>
<body>
    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <img src="{{ profile.profile_pic.url }}" alt="profile pic" />
            </div>
            <div class="author-content">
              <h4>{{ profile.user.last_name }}, {{ profile.user.first_name }}</h4>
              <span>Web Developer</span>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#section1">About Me</a></li>
                <li><a href="#section2">What I’m good at</a></li>
                <li><a href="#section3">My Projects</a></li>
                <li><a href="#section4">Contact Me</a></li>
              </ul>
            </nav>
            <div class="social-network">
              <ul class="soial-icons">
                <li>
                  <a href="https://fb.com/templatemo"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="{{ profile.linkedin }}"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="{{ profile.github }}"><i class="fab fa-github"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <section class="section about-me" data-section="section1">
        <div class="container">
          <div class="section-heading">
            <h2>About Me</h2>
            <div class="line-dec"></div>
            <span
              >I'm an aspiring web developer that mainly focus on python and the django web framework. I first started with flask but immediately fell in love with django. I've learned a lot from online tutorials and the django documentations found on the web. Now I'm looking for opportunities to prove my skills in Python and in Django.</span
            >
          </div>
          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="{{ profile.resume.url }}" alt="Profile Pic" id="myImg"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <h4>My Resume</h4>
                  <p>
                    Donec tristique feugiat lacus, at sollicitudin nunc euismod
                    sed. Mauris viverra, erat non sagittis gravida, elit dui
                    mollis ante, sit amet eleifend purus ligula eget eros. Sed
                    tincidunt quam vitae neque pharetra dignissim eget ut
                    libero.
                  </p>
                  <!-- The Modal -->
                  <div id="myModal" class="modal">

                    <!-- The Close Button -->
                    <span class="close">&times;</span>

                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="img01">

                    <!-- Modal Caption (Image Text) -->
                    <div id="caption"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section my-services" data-section="section2">
        <div class="container">
          <div class="section-heading">
            <h2>What I’m good at?</h2>
            <div class="line-dec"></div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="service-item">
                <div class="first-service-icon service-icon"></div>
                <h4>Django</h4>
                <p>
                  My main web framework for creating websites. I use Django exclusively and have been learning how to use it along side JavaScript, HTML, CSS. I have also learned how to create restful apis with Django's django rest framework and making calls to it using Ajax and JavaScript's fetch api.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <div class="second-service-icon service-icon"></div>
                <h4>JavaScript</h4>
                <p>
                  My secondary programming language that I learned to compliment my web development  skills. I learned the basics as well as how JS can be used when I'm making django websites. I would mostly use JS for seamless loading as well as api calls using either Ajax or fetch.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <div class="third-service-icon service-icon"></div>
                <h4>Python</h4>
                <p>
                  My main programming langauge and where I focused most of my time learning. Before learning Django I first learn the basics of Python, specificaly I first learn scripting and file manipulation using Python. I learned the different data types that is built in Python as well as funcions, loops, statements and OOP or object oriented programming. 
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <div class="fourth-service-icon service-icon"></div>
                <h4>HTML5 &amp; CSS3</h4>
                <p>
                  I use both HTML and CSS all the time when making websites. I'm not the most proficient with them as I still have a lot to learn.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="section my-work" data-section="section3">
        <div class="container">
          <div class="section-heading">
            <h2>My Projects</h2>
            <div class="line-dec"></div>
            <span
              >My projects that I have worked or working over the course of my coding journey.</span
            >
          </div>
          <div class="row">
            <div class="isotope-wrapper">

              <div class="isotope-box">

                {% for project in projects %}
                <div class="isotope-item">
                  <figure class="snip1321">
                    <img
                      src="{{ project.image.url }}"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a href="{{ project.code_url }}" class="btn btn-outline-danger"><h4 class="pb-3">Live Code</h4></a>
                    </figcaption> 
                  </figure>
                  <div class="text-center">
                    <h3>{{ project.name }}</h3>
                    <p>{{ project.description }}</p>
                  </div>
                </div>
                {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section contact-me" data-section="section4">
        <div class="container">
          <div class="section-heading">
            <h2>Contact Me</h2>
            <div class="line-dec"></div>
            <span
              >If you have any inquiries or are interested in hiring me please contact me from the forms below.</span
            >
          </div>
          <div class="row">
            <div class="right-content">
              <div class="container">
                <form id="contact" method='POST' action=''>
                {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="name"
                          type="text"
                          class="form-control"
                          id="name"
                          placeholder="Your name..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="email"
                          type="text"
                          class="form-control"
                          id="email"
                          placeholder="Your email..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input
                          name="subject"
                          type="text"
                          class="form-control"
                          id="subject"
                          placeholder="Subject..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea
                          name="message"
                          rows="6"
                          class="form-control"
                          id="message"
                          placeholder="Your message..."
                          required=""
                        ></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12 text-center">    
                        <button type="submit" class="button">
                          Send Message
                        </button>                                            
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>



    <script src="{% static 'frontend/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'frontend/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'frontend/js/isotope.min.js' %}"></script>
    <script src="{% static 'frontend/js/owl-carousel.js' %}"></script>
    <script src="{% static 'frontend/js/lightbox.js' %}"></script>
    <script src="{% static 'frontend/js/custom.js' %}"></script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>

</body>
</html>